*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e5e6e3;
}

header {
  background: #fec14f;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

nav {
  position: relative;
}

#hamburger {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.gridItem .centered-link {
  display: block; 
  margin: 0 auto; 
  margin-top: 40px; 
}

/* Responsive design for tablets and mobile devices */
@media (max-width: 1240px) {
  #hamburger {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
  }

  nav ul li {
    display: block;
    margin: 0;
  }

  nav ul li a {
    display: block;
    padding: 1em;
    text-align: center;
  }

  nav ul.active {
    display: flex;
  }
}

main {
  padding: 2em;
}

h2 {
  color: #333;
  font-size: 1.5em;
  margin-top: 1em;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  border-radius: 10px;
}

.gridContainer iframe, 
.gridContainer .gridItem {
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 1em);
  box-sizing: border-box;
}

.gridItem {
  background: #f4f4f4;
  padding: 1em;
  text-align: center;
}

.gridItem a {
  text-decoration: none;
  color: #2596be;
}

.gridItem a:hover {
  text-decoration: underline;
}

footer {
  background: #fec14f;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  bottom: 0;
}
footer a{
  color: #fec14f;
  text-decoration: none
};